{snippet}
    <script>
        var hideConsent = {$hide};
        if(hideConsent){l}
            window.bodySlideBlocker.unlock();
        {r}else{l}
            window.bodySlideBlocker.lock();
        {r}
    </script>
    <div n:class="cookies-consent, !$hide ? 'show'">
        {form consentForm}
            <div class="content">
                <div class="heading">
                    <p>{_"cookiesConsent.heading1"}</p>
                    <p class="text-green">{_"cookiesConsent.heading2"}</p>
                </div>
                <div class="divider"></div>
                <div class="main-content">
                    <div class="consent-block">
                        <p>
                            {_"cookiesConsent.shortDesc1",$personalDataLink |noescape}
                        </p>
                        <p>&nbsp;</p>
                        <p>
                            {_"cookiesConsent.shortDesc2"}
                        </p>
                    </div>
                    <div class="buttons">
                        <div class="col">
                            <a href="#" data-cookie-consent class="btn simply">
                                {_"cookiesConsent.settings"}
                            </a>
                        </div>
                        <div class="col">
                            <a n:href="allowAll!" data-ajax class="btn green">
                                {_"cookiesConsent.agreeContinue"}
                            </a>
                        </div>
                    </div>
                </div><!--end of main-content-->
                <div class="form-content">
                    {foreach $form->components as $name=>$input}
                        {continueIf in_array($name, ['_do','save'])}
                        <div class="consent-block">
                            <div class="col">
                                <h2>{_"cookiesConsent.".$name."H2"}</h2>
                                <h3>{_"cookiesConsent.".$name."H3"}</h3>
                                <p>{_"cookiesConsent.".$name."Desc"}</p>
                            </div>
                            <div class="col">
                                <label n:name="$name" class="toggleSwitch">
                                    <input n:name="$name" />
                                    <span class="slider">
                                </label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="divider"></div>
                    {/foreach}
                    <div class="consent-block">
                        <p>
                            {_"cookiesConsent.mandatoryDesc"}
                        </p>
                    </div>
                    <div class="buttons">
                        <div class="col">
                            <button n:name="save" class="btn grey">
                                {_$form['save']->caption}
                            </button>
                        </div>
                        <div class="col">
                            <a n:href="allowAll!" data-ajax class="btn green">
                                {_"cookiesConsent.allowAll"}
                            </a>
                        </div>
                    </div>
                </div><!--end of form-content-->
            </div>
        {/form}
    </div>
{/snippet}