<div class="formContent">
    <div class="snippet-wrapper">
        {snippet form}
            {form form class=>"form tecDocForm"}
                <div class="vehicle-link" n:if="$vehicleDetail">
                    <div class="link">
                    <div class="label">
                        <strong>Váš vůz</strong>
                    </div>
                    <div class="name">
                        {$vehicleName}  
                    </div>
                    <a href="{plink :Front:TecDoc:Default:catalog vehicle=>$vehicleLink}" class="btn white">
                        Zobrazit díly
                    </a>
                    </div>
                    <div class="bottom-label">
                        Nebo zvolte jiný vůz
                    </div>
                </div>
                <div n:class="input, $input->disabled ? 'disabled'"
                     n:foreach="$form->controls as $name=>$input"
                     n:if="!in_array($name, ['_do','send'])">
                    <span class="done" n:if="$input->value">
                        {="check.svg"|svgContent|noescape}
                    </span>
                    {if $name === 'manufacturer'}
                        {label $name class=>"form-label" /}
                        <div data-autofocus="1" n:class="$input->disabled ? 'disabled', custom-select, w-100">
                            <select n:name="$name" />
                            <div class="selected">{$input->value && isset($input->items[$input->value]) ? $input->items[$input->value] : $input->getPrompt()}</div>
                            <div class="items">
                                <div class="search">
                                    <input type="search" placeholder="Hledat" class="ui-autocomplete-input" autocomplete="off">
                                </div>
                                <div class="scroller" data-simplebar n:inner-foreach="$input->items as $id=>$caption">
                                    <div class="item" 
                                        data-value="{$id}" 
                                        {if $analyticsCookies}onClick="gtag('event', 'Select', {l}'event_category' : 'TecDoc Car Brand', 'event_label' : 'TecDoc Car Brand – {$caption|noescape}'{r});"{/if}
                                    >{$caption}</div>
                                </div>
                            </div>
                        </div>
                    {else}
                        {label $name class=>"form-label" /}
                        {input $name class=>"custom-selectbox"}
                    {/if}
                </div>
                {*<button n:name="send" class="btn green sizeBig">
                    {_$form['send']->caption}
                </button>*}
            {/form}
        {/snippet}
    </div>
    <div class="image moto-images">
        <img src="{$basePath}/assets/images/tecDoc_passengerCar.jpg" data-type="P" alt="" n:class="$type == 'P' || !$type ? 'active'" />
        <img src="{$basePath}/assets/images/tecDoc_commercialCar.jpg" alt="" data-type="O" n:class="$type == 'O' ? 'active' " />
        <img src="{$basePath}/assets/images/tecDoc_motorbike.jpg" alt="" data-type="MOTO" n:class="$type == 'MOTO' ? 'active' " />
    </div><!--end of image-->
</div>
<div class="clearfix"></div>
{snippet list}
    <div class="responsive-table minuMarg" n:if="$vehiclesList">
        <div class="mainTable mb-40">
            <div class="tbody">
                <div class="tr cursor-pointer" data-js-link="{link 'redirectVehicle!' $vehicle->carId}" n:foreach="$vehiclesList as $vehicle">
                    <div class="td head">
                        <a href="{link 'redirectVehicle!' $vehicle->carId}">
                            {$vehicle->typeName},
                            {if $vehicle->motorCodes}
                                {implode(" / ", $vehicle->motorCodes)}
                            {/if}
                        </a>
                    </div>
                    <div class="td">{$vehicle->fuelType|lower}</div>
                    <div class="td">{$vehicle->powerKwFrom} kW</div>
                    <div class="td">{$vehicle->powerHpFrom} hp</div>
                    <div class="td">{$vehicle->constructionType|lower}</div>
                    <div class="td">
                        {date('m/Y',strtotime($vehicle->yearOfConstrFrom.'01'))} -
                        {ifset $vehicle->yearOfConstrTo}
                            {date('m/Y',strtotime($vehicle->yearOfConstrTo.'01'))}
                        {else}
                            {_"tecDocForm.today"}
                        {/ifset}
                    </div>
                </div>
            </div>
        </div>
    </div><!--end of responsive-table-->
    <div n:class="'description', $vehiclesList ? 'mt-0 no-padd' : ''">
        <p>
            Vybírání <strong>kompatibilních náhradních dílů do auta</strong> není vždycky hračka. Záleží na typu vozu, na značce i na modelové řadě. Pokud si lámete hlavu při výběru, zkuste <strong>chytrý filtr</strong>, do kterého <strong>zadáte údaje o svém voze</strong>. Díky tomu uvidíte jen produkty určené přímo pro něj. Na první dobrou si tak objednáte vše od převodovky přes olejový filtr až po gumičky ke stěračům.
            <br />Prodlužte svému autu život a pečujte o něj kvalitní <a href="https://pemacz.cz/katalog/autokosmetika-c397563647754254">autokosmetikou</a>.
        </p>
    </div>
{/snippet}